@media (max-width: 1199px) {
  .aside {
    left: -300px;
  }
  .main-content {
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .projects .projects-item,
  .contact .contact-item,
  .achievements .achievements-item,
  .skills .skills-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}
@media (max-width: 767) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .achievements .achievements-item,
  .projects .projects-item,
  .skills .skills-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills .projects,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
