/* @import url(./about-section.css);
@import url(./skills-section.css);
@import url(./achievements-section.css);
@import url(./projects-section.css);
@import url(./style-home-section.css);
@import url(./contact-section.css); */

@media (max-width: 1500px) {
  .aside {
    left: -300px;
  }
  .main-content {
    padding-left: 0;
    /* z-index: -100; */
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .projects .projects-item,
  .contact .contact-item,
  .achievements .achievements-item,
  .skills .skills-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}
@media (max-width: 765px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .achievements .achievements-item,
  .projects .projects-item,
  .skills .skills-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills .projects,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*responsive task bar*/
header {
  /* position: relative; */
  height: 40px;
  position: sticky;
  z-index: 10;
  background: var(--bg-black-900);
  top: 0;
}

.nav-bar {
  /* position: fixed; */
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 100%;
  margin: 0 auto;
  /* background-color: aqua; */
  z-index: 100;
  /* overflow: hidden; */
}

.nav-bar .toggle-btn {
  /* position: fixed; */
  color: var(--text-black-900);
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  display: none;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  /* top: 30px; */
  top: 100%; /* Thêm dòng này */
  height: 0;
  width: 170px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* z-index: 1; */
  background-color: white;
}
.dropdown_menu.open {
  height: 300px;
  /* background-color: red;
  z-index: 1; */
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  padding-left: 15px;
  align-items: flex-start;
  justify-content: start;
  /* background-color: aqua; */
}

@media (max-width: 1500px) {
  .nav-bar .toggle-btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

/* @media (max-width: 990px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
} */
