/* tạo button social link */
.st-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
}

.st-social-link .st-social-btn {
  border-radius: 50px;
  background-color: #070d1b;
  border: 0.5px solid #3f4551;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.st-social-link .st-social-btn .st-social-icon .icon-color {
  color: lightgrey;
}

.st-social-link .st-social-btn:not(:last-child) {
  margin-right: 20px;
}

.st-social-link .st-social-btn .st-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.st-social-link .st-social-btn .st-social-icon i {
  font-size: 22px;
  color: blue;
}

.st-social-link .st-social-btn .st-icon-name {
  font-weight: 600;
  color: #fdfeff;
  overflow: hidden;
  max-width: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.st-social-link .st-social-btn:hover {
  padding-right: 15px;
}

.st-social-link .st-social-btn:hover .st-icon-name,
.st-social-link .st-social-btn.active .st-icon-name {
  max-width: 140px;
}
